html {
	background-color: #E5BEEC;
}

body{ 
	padding: 0;
	margin: 0;


 }


.navbar{

	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	align-content: center;
	align-items: center;
	background-color: #2A2F4F;
	color: #FDE2F3;


}


.logo{
	display: flex;
	font-family: 'Lora', serif;
}

.list{ 

	display: flex;
	flex-direction: row;
	text-align: center;

}

.list-children{ 
	display: flex;
	padding-right: 100px;
 }